{erl_opts, [{parse_transform, lager_transform}]}.
{sub_dirs, [
    "examples/tcp"
   ,"examples/tls"
   ,"examples/http"
   ,"examples/rest"
]}.

{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   % logging fw
   {lager, ".*",
      {git, "https://github.com/basho/lager", {branch, master}}
   },

   % toolkit
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   },

   % konduit core
   {konduit, ".*",
      {git, "https://github.com/kfsm/konduit", {branch, master}}
   }
]}.

