{erl_opts, [
]}.
{sub_dirs, [
    "examples/tcp",
    "examples/tls",
    "examples/udp",
    "examples/http",
    "examples/websocket"
]}.

{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   datum,
   % pipes,

   {pipe, ".*",
      {git, "https://github.com/fogfish/pipe", {branch, 'credit-based-flow-control'}}
   },

   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   },
    
   {htstream, ".*",
      {git, "https://github.com/kfsm/htstream", {branch, master}}
   },

   {htcodec, ".*",
      {git, "https://github.com/kfsm/htcodec", {branch, master}}
   },
   
   meck 
]}.

