{erl_opts, [
  warnings_as_errors
  % ,native, {hipe, o3}
]}.
{sub_dirs, [
    "examples/tcp"
   ,"examples/tls"
   ,"examples/udp"
   ,"examples/http"
   ,"examples/websocket"
]}.

{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   datum,

   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }
    
  ,{pipe, ".*",
      {git, "https://github.com/kfsm/pipe", {branch, master}}
   }

  ,{htstream, ".*",
      {git, "https://github.com/kfsm/htstream", {branch, master}}
   }

  ,{htcodec, ".*",
      {git, "https://github.com/kfsm/htcodec", {branch, master}}
   }
   
  ,meck 
]}.

