[

{lager, [
   {handlers, [
      {lager_console_backend, [debug, {lager_default_formatter, [time, " [",severity,"] ", message, "\n"]}]}
     ,{lager_file_backend,    [{file, "log/access.log"}, {level, none}, {formatter, lager_default_formatter},{formatter_config, [date, " ", time, " ", message, "\n"]}]}
   ]},
   {traces, [
      {{lager_file_backend, "log/access.log"}, [{module, knet_udp}],  notice}
     ,{{lager_file_backend, "log/access.log"}, [{module, knet_tcp}],  notice}
     ,{{lager_file_backend, "log/access.log"}, [{module, knet_ssl}],  notice}
     ,{{lager_file_backend, "log/access.log"}, [{module, knet_http}], notice}
   ]}
]}

].

